*{
    box-sizing: border-box;
}

body{
    background-color: #1B3360;
    width: 100%;
}

.encabezado{
    background-color: #FFFFFF;
    width: 100%;
    height: 56px;
    display: flex;
    position: fixed;
    top:0;
    z-index: 1;
}

.menu{
    display: flex;
    align-items: center;
    color: #177EF8;
    gap: 1.6em;
    width: 100%;
    padding-left: 3.5cm;
}

.logo{
    height: 24px;
    cursor: pointer;
}

.opciones{
    cursor: pointer;
    font-weight: 700;
    text-decoration: solid;
    text-size-adjust: 100%;
    height: 24px;
    margin-top: 0.66cm;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.opcionesAlt{
    cursor: pointer;
    color: #1B3360;
    font-weight: 700;
    text-decoration: solid;
    text-size-adjust: 100%;
    margin-left: auto;
    margin-right: 4cm;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;;
    
}

.opciones:hover{
    color: #003982;
}

.opcionesAlt:hover{
    color:#177EF8
}

.juegos{
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
    width: 100%;
}

.caratula{
    cursor: pointer;
    display: flex;
    flex-basis: 280px;
    justify-content: space-between;
    align-items: start;
    padding-bottom: 0.8rem;
    flex-direction: column;
    font-weight: 700%;
    color: #C3E6FF;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.caratula:hover{
    transform: translate(0, -15px);
}


.caratula > p{
    margin-top: 3%;
}

.caratula > img{
    max-width: 100%;
    height: auto;
    border-radius: 6px;
}

 .franquicias{
    color: white;
    width: 90%;
    font-weight: 700%;
    font-size: 1.8rem;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.contenedor{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 8.5em;
    padding-top: 5em;
}

.viewmore{
    padding-top: 0.5cm;
    text-align: center;
    display: block;
    margin: auto;
    height: 50px;
    width: 210.45px;
    padding-right: 10.5cm;
}

.textomore{
    color: #FFFFFF;
    font-weight: 700%;
    margin: 0;
    cursor: pointer;
    font-family:  ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.viewmore > button{
    height: 50px;
    width: 210.45px;
    background-color: #1B3360;
    border-color: #FFFFFF;
    border-radius: 6px;
    border-width: 1px;
}

.viewmore >button:hover{
    background-color: #C3E6FF;
}

.textomore:hover{
    color: #1B3360;
}

.estudios{
    padding-top: 5rem;
    color: white;
    width: 90%;
    font-weight: 700%;
    font-size: 1.8rem;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.sedes{
    display: flex;
    width: 100%;
    gap: 2em;
    text-align: center;
    padding-bottom: 56px;
}

.sede{
    display: flex;
    flex-direction: column;
    position: relative;
}


.sede > img{
    height: 535x;
    width: 504.34px;
    border-radius: 6px;
}

.redes{
    width: 100%;
    height: 220;
    background-color: #1952A5;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.siguenos{
    color: #FFFFFF;
    font-weight: 700;
    font-family:  ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

svg{
    width: 2rem;
    height: 2rem;
}

.iconos{
    display: flex;
    gap: 2.8em;
}

.icono{
    padding: 1em;
}

.icono:hover{
    border: solid 1px;
    border-radius: 10px;
    color: #FFFFFF;
    cursor: pointer;
}

.contenedorfooter{
    padding-left: 136px;
    padding-top: 5rem;
    padding-bottom: 5rem;
    height: 592.31;
    background-color: #00122C;

}

.logosega{
    width: 157.08;
    height: 52.22;
    
}

.derechos{
    width: 900px;
    display: block;
    color: #FFFFFF;
    font-size: 0.75rem;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.listasfooter{
    width: 536.55px;
    height: 324px;
    color: #FFFFFF;
    display: flex;
    font-size: 0.78em;
    font-family:  ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.containerfinal{
    padding-top: 3rem;
    display: flex;
    gap: 10rem;
    max-width: 100%;
}

.lista{
    list-style-type: none;
}

.titulista{
    font-size: 13px;
    line-height: 1.5rem;
}

.sportslogo{
    width: 100;
    height: 100;
}

.fusionlogo{
    position: absolute;
    top:67%;
    left:36%;
    cursor: pointer;
}

.letritaslogo{
    color: #C3E6FF;
    font-size: 100%;
    font-weight: 700;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.hardlightlogo{
    width: 269.16;
    height: 40;
}

.hardfusion{
    position: absolute;
    top:80%;
    left: 24%;
    cursor: pointer;
}

.assemblylogo{
    width: 70.68;
    height: 100;
}

.assemblyfusion{
    position: absolute;
    top: 69%;
    left: 36%;
    cursor: pointer;
}

.assemblyfusion:hover{
    transform: translate(0, -15px);
}

.hardfusion:hover{
    transform: translate(0, -15px);
}

.fusionlogo:hover{
    transform: translate(0, -15px);
}
